@{
    IComponentRenderMode renderMode = new InteractiveWebAssemblyRenderMode(prerender: true);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" /> 
    <link rel="stylesheet" href="css/app.min.css" />
    <link rel="stylesheet" href="Krafter.UI.Web.styles.css" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <ImportMap />
    <HeadOutlet @rendermode="@renderMode" />

</head>

<body>
    <Routes @rendermode="@renderMode" />
    
    <script src="_framework/blazor.web.js" ></script>
    <script src="@($"_content/Radzen.Blazor/Radzen.Blazor.js?v={typeof(Radzen.Colors).Assembly.GetName().Version}")"></script>
    <script src="js/helper.js"></script>
    <div id="webassembly-loading-spinner" class="app-loading-container">
        <img src="brand/loading-indicators/loading-indicator-m.svg" alt="loading" />
    </div>
</body>

</html>
