@using Krafter.UI.Web.Client.Common.Components.DaisyUI
@inherits LayoutComponentBase

<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-base-200 to-base-300 p-4">
    <div class="w-full max-w-6xl">
        @Body
    </div>
</div>
