@namespace Krafter.UI.Web.Client.Common.Components.DaisyUI

<span class="countdown @CssClass" @attributes="AdditionalAttributes">
    <span style="@GetStyle()" aria-live="polite" aria-label="@Value">@Value</span>
</span>
