@namespace Krafter.UI.Web.Client.Common.Components.DaisyUI

<figure class="diff @CssClass" tabindex="0" @attributes="AdditionalAttributes">
    <div class="diff-item-1" role="img" tabindex="0">
        @Item1Content
    </div>
    <div class="diff-item-2" role="img">
        @Item2Content
    </div>
    <div class="diff-resizer"></div>
</figure>
