@namespace Krafter.UI.Web.Client.Common.Components.DaisyUI

<li class="step @CssClass" data-content="@DataContent" @attributes="AdditionalAttributes">
    @if (Icon != null)
    {
        <span class="step-icon">@Icon</span>
    }
    @ChildContent
</li>
